<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
<rule name="NoSSL - .well-known folder" enabled="false" stopProcessing="true">
<match url="^.well-known/.*" />
<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
</conditions>
<action type="None" />
</rule>
                <rule name="SSLRedirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                    </conditions>
                    <action type="Redirect" url="https://trainme.fresno.edu/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="FastCGI70" />
            <remove name="FastCGI" />
            <add name="FastCGI_72" path="*.php" verb="GET,HOST,POST" modules="FastCgiModule" scriptProcessor="C:\php72\php-cgi.exe" resourceType="Either" />
            
        </handlers>
    </system.webServer>
</configuration>
